.supheader {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  font-weight: 500;
  margin: 0 2em; }
  .supheader .deliver {
    position: absolute;
    left: 534px; }

.our-stores {
  display: flex;
  align-items: center; }
  .our-stores p {
    padding-top: 2px;
    margin-left: 7px; }

.home-section {
  background: url("../img/9193579.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .home-section h1 {
    font-weight: 700;
    font-size: 60px;
    margin: 160px 0; }

.input-bg {
  background-color: rgba(255, 255, 255, 0.247);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 37%;
  height: 48px;
  border-radius: 3px;
  padding: 0 1%; }
  .input-bg .input_looking_for {
    border: none;
    background: rgba(255, 255, 255, 0);
    font-family: "Poppins";
    font-weight: bold;
    outline: none;
    height: 48px;
    width: 100%;
    color: #FFFFFF; }
    .input-bg .input_looking_for::placeholder {
      color: #FFFFFF; }
    .input-bg .input_looking_for:focus::-webkit-input-placeholder {
      color: transparent; }
  .input-bg .inputOtherPlaceHolder {
    border: none;
    background: #F2F2F2;
    font-family: "Poppins";
    font-weight: bold;
    outline: none;
    height: 48px;
    width: 100%;
    color: #FFFFFF; }
    .input-bg .inputOtherPlaceHolder::placeholder {
      color: #000000; }
    .input-bg .inputOtherPlaceHolder:focus::-webkit-input-placeholder {
      color: transparent; }
  .input-bg .search-icon {
    background: url(../img/search.png);
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat; }

.mobile-icon-group {
  display: none; }
  .mobile-icon-group img:first-child {
    width: 22px;
    height: 17px;
    cursor: pointer; }
  .mobile-icon-group img:last-child {
    margin-left: 13px;
    width: 17px;
    height: 17px;
    cursor: pointer; }

.header-wrapper {
  width: 100%;
  background: linear-gradient(180deg, rgba(51, 51, 51, 0.3) 14.31%, rgba(27, 27, 27, 0.12) 58.6%, rgba(0, 0, 0, 0.0001) 100%);
  mix-blend-mode: normal;
  padding-bottom: 24px; }

.bg-change {
  background: #FFFFFF; }

.header {
  padding: 1.4em 2em 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  font-size: 11px;
  font-weight: 600; }
  .header a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 38px;
    font-weight: 700; }

.login {
  display: flex;
  align-items: center; }
  .login-buttons {
    display: flex;
    padding-top: 6px; }
    .login-buttons > a {
      margin: 0 10px;
      font-size: 11px;
      font-weight: 600; }

.btn-register {
  cursor: pointer; }

.basket-wrap {
  display: flex;
  align-items: center; }
  .basket-wrap img {
    cursor: pointer; }

.basket-counter {
  display: none;
  margin-left: 5px;
  background-color: #f2da91;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
  color: #000000; }

.home-menu {
  margin: 9px 0 0 0;
  display: flex;
  justify-content: center; }
  .home-menu ul {
    display: flex;
    align-items: center; }
  .home-menu li {
    display: block; }
  .home-menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 13px;
    margin: 5px 20px; }

.form-section {
  width: 25%;
  margin: 32px auto; }
  .form-section p {
    margin-bottom: 14px; }
  .form-section form {
    display: flex; }
    .form-section form input {
      padding: 5px 10px;
      width: 70%;
      margin-right: 12px;
      font-size: 10px;
      font-family: "Poppins";
      border: 1px solid #e1e0e1;
      border-radius: 3px; }
    .form-section form button {
      width: auto;
      font-family: "Poppins";
      background-color: #000000;
      color: #FFFFFF;
      font-size: 10px;
      padding: 5px 15px;
      letter-spacing: 1px; }

.supheader-burger {
  display: none; }

.footer {
  background: #f7f7f7;
  padding: 26px 267px 14px 267px; }
  .footer-menu {
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between; }
    .footer-menu-item {
      cursor: pointer; }
      .footer-menu-item img {
        display: none; }
      .footer-menu-item-header {
        font-size: 16px;
        font-family: "Cormorant Garamond";
        font-weight: bold;
        margin-bottom: 17px; }
    .footer-menu span {
      width: 100%;
      height: 1px;
      background-color: #e1e0e1;
      margin: 0; }
  .footer-submenu {
    display: flex;
    flex-direction: column; }
    .footer-submenu li {
      display: block;
      margin-bottom: 6px; }
    .footer-submenu a {
      text-decoration: none;
      color: black; }
  .footer p {
    width: fit-content;
    font-size: 9px;
    margin: 0 auto; }

.social-media-icons img {
  margin-right: 16px; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 0;
  display: none; }

.burger-screen {
  position: absolute;
  background-color: white;
  width: 80%;
  height: 100vh;
  z-index: 1;
  display: none; }
  .burger-screen > div:not(:last-child) {
    padding: 24px 0 18px 16px; }

.menu-item {
  display: flex; }

.menu-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px; }
  .menu-header h1 {
    font-size: 19px; }

.burger-menu-item-name, .burger-submenu-item-name {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 17px;
  letter-spacing: 1.2px; }

@media (max-width: 576px) {
  .overlay.burger-opened {
    display: block; }
  .burger-screen.burger-opened {
    display: block; }
  #close_burger {
    cursor: pointer; }
  #mobile-show {
    display: block; }
  .supheader {
    display: none; }
  .header {
    display: flex;
    align-items: center; }
  .header a {
    font-size: 30px; }
  .home-section {
    height: 78vh;
    background-position: 66% 0px;
    background-size: auto; }
    .home-section h1 {
      display: none; }
  .home-menu {
    display: none; }
  .form-section {
    width: 90%; }
  .login-burger {
    background-color: #F7F7F7;
    padding-top: 17px;
    padding-left: 15px;
    padding-bottom: 16px;
    margin-bottom: 8px; }
    .login-burger-buttons > a {
      color: #000000;
      text-decoration: none;
      font-weight: 600; }
  .supheader-burger {
    display: inline-block; }
  .deliver-burger {
    text-align: center;
    padding-top: 15px;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px; }
  .view-all {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    margin-bottom: 16px; }
    .view-all > p {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 1.2px;
      color: #000;
      font-weight: 600;
      text-transform: uppercase; }
    .view-all > a {
      font-size: 11px;
      line-height: 16px;
      letter-spacing: 1.2px;
      color: #000;
      font-weight: 600;
      text-decoration-line: underline; }
  .our-stores-burger {
    display: inline-block; }
  .footer {
    padding: 4px 16px 23px 16px; }
    .footer-menu {
      flex-direction: column;
      padding-bottom: 0; }
      .footer-menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative; }
        .footer-menu-item::after {
          position: absolute;
          bottom: 0;
          content: '';
          display: block;
          height: 1px;
          background: #F7F7F7;
          width: 100%; }
        .footer-menu-item img {
          display: inline;
          margin-right: 16px; }
        .footer-menu-item-header {
          margin-bottom: 12px;
          margin-left: 16px; }
          .footer-menu-item-header:nth-child(n + 1) {
            margin-top: 12px; }
      .footer-menu span {
        display: block; }
    .footer-submenu {
      margin-left: 16px; }
  .footer-subnav {
    display: none; }
  .menu-item-container.toggled .arrow {
    transform: rotate(90deg); }
  .menu-item-container.toggled .footer-subnav {
    display: flex; }
  .mobile-hide {
    display: none; }
  .display-flex {
    display: flex; }
  .input-mobile-show {
    display: flex;
    width: 90%;
    margin: 0 auto; }
  .mobile-icon-group {
    display: block; }
  li {
    text-transform: uppercase;
    list-style-type: none;
    position: relative; }
    li > span {
      position: absolute;
      left: 216px;
      font-weight: normal;
      font-size: 13px; }
    li::after {
      position: absolute;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      background: #F7F7F7;
      width: 100%; }
  .social-media-icons {
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center; } }

body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Poppins"; }
