@import 'mixins.scss';
@import 'variables.scss';
body,
p,
h1,
h2,
h3,
ul {
 @include ul;
}
.supheader {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  font-weight: 500;
  margin: 0 2em;
  .deliver{
position:absolute;
left:534px;
  }
}
.our-stores {
  @include flex;
  p {
    padding-top: 2px;
    margin-left: 7px;
  }
}
.home-section {
  background: url("../img/9193579.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: $base-color;
  @include flex;
  flex-direction: column;
  h1 {
    font-weight: 700;
    font-size: 60px;
    margin: 160px 0;
  }
}
.input-bg {
  background-color: rgba(255, 255, 255, 0.247);
  @include flex;
  flex-direction: row;
  justify-content: space-between;
  width: 37%;
  height: 48px;
  border-radius: 3px;
  padding: 0 1%;

  .input_looking_for {
    border: none;
    background: rgba(255, 255, 255, 0);
    @include font;
    font-weight: bold;
    outline: none;
    height: 48px;
    width: 100%;
    color: $base-color;
    &::placeholder {
      color: #FFFFFF;
    }
    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
  }
  .inputOtherPlaceHolder{
    border: none;
    background: #F2F2F2;
    @include font;
    font-weight: bold;
    outline: none;
    height: 48px;
    width: 100%;
    color: $base-color;
    &::placeholder {
      color: $base-color-dark;
    }
    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
  }
  .search-icon {
    background: url(../img/search.png);
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.mobile-icon-group {
  display: none;
  img:first-child {
    width: 22px;
    height: 17px;
    cursor: pointer;
  }
  img:last-child {
    margin-left: 13px;
    width: 17px;
    height: 17px;
    cursor: pointer;
  }
}
.header-wrapper {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 0.3) 14.31%,
    rgba(27, 27, 27, 0.12) 58.6%,
    rgba(0, 0, 0, 0.0001) 100%
  );
  mix-blend-mode: normal;
  padding-bottom: 24px;
}
.bg-change{
    background: $base-color;
}
.header {
  padding: 1.4em 2em 0px;
  @include flex;
  justify-content: space-between;
  align-self: stretch;
  font-size: 11px;
  font-weight: 600;

  a {
    text-decoration: none;
    color: $base-color;
    font-size: 38px;
    font-weight: 700;
  }
}
.login {
  @include flex;
  &-buttons {
    display: flex;
    padding-top: 6px;
    > a {
      margin: 0 10px;
      font-size: 11px;
      font-weight: 600;
    }
  }
}
.btn-register{
    cursor: pointer;
}
.basket-wrap {
  @include flex;
  img {
    cursor: pointer;
  }
}
.basket-counter {
  display: none;
  margin-left: 5px;
  background-color: #f2da91;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
  color: $base-color-dark;
}
.home-menu {
  margin: 9px 0 0 0;
  display: flex;
  justify-content: center;
  ul{
    @include flex;
  }
  li{
    display: block;
  }
  a {
    text-decoration: none;
    color: $base-color;
    font-weight: 600;
    font-size: 13px;
    margin: 5px 20px;
  }
}

.form-section {
  width: 25%;
  margin: 32px auto;
  p {
    margin-bottom: 14px;
  }
  form {
    display: flex;
    input {
      padding: 5px 10px;
      width: 70%;
      margin-right: 12px;
      font-size: 10px;
     @include font;
      border: 1px solid #e1e0e1;
      border-radius: 3px;
    }
    button {
      width: auto;
      @include font;
      background-color: $base-color-dark;
      color: $base-color;
      font-size: 10px;
      padding: 5px 15px;
      letter-spacing: 1px;
    }
  }
}
.supheader-burger{
    display: none;
}
.footer {
  background: #f7f7f7;
  padding: 26px 267px 14px 267px;
  &-menu {
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between;
    &-item {
      cursor: pointer;
      img {
        display: none;
      }
      &-header {
        font: {
          size: 16px;
          family: "Cormorant Garamond";
          weight: bold;
        }
        margin-bottom: 17px;
      }
    }
    span {
      width: 100%;
      height: 1px;
      background-color: #e1e0e1;
      margin: 0;
    }
  }
  &-submenu {
    display: flex;
    flex-direction: column;
    li{
      display: block;
      margin-bottom: 6px;
    }
    
    a {
      text-decoration: none;
      color: black;
      
    }
  }
  p {
    width: fit-content;
    font-size: 9px;
    margin: 0 auto;
  }
}
.social-media-icons {
  img {
    margin-right: 16px;
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 0;
  display: none;
}
.burger-screen {
  position: absolute;
  background-color: white;
  width: 80%;
  height: 100vh;
  z-index: 1;
  display: none;
  >div:not(:last-child){
     padding: 24px 0 18px 16px;
  }
}
.menu-item {
  display: flex;
}
.menu-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  h1 {
    font-size: 19px;
  }
}
.burger-menu-item-name, .burger-submenu-item-name{
  font: {
    size: 13px;
    weight: 600;
  }
  margin-bottom: 17px;
  letter-spacing: 1.2px;
}

@media (max-width: 576px) {
  .overlay.burger-opened {
    display: block;
  }
  .burger-screen.burger-opened {
    display: block;
  }

  #close_burger {
    cursor: pointer;
  }
  #mobile-show {
    display: block;
  }
  .supheader{
    display: none;
  }
  .header{
    display: flex;
    align-items: center;
  }
  .header a {
    font-size: 30px;
  }
  .home-section {
    height: 78vh;
    background-position: 66% 0px;
    background-size: auto;
    h1 {
      display: none;
    }
  }
  .home-menu {
    display: none;
  }
  .form-section {
    width: 90%;
  }
  .login-burger{
    background-color: #F7F7F7;
        padding-top: 17px;
        padding-left: 15px;
         padding-bottom: 16px;
         margin-bottom: 8px;
    &-buttons > a{
        color: #000000;
        text-decoration:none;
        font-weight: 600;
    }
  }
  .supheader-burger{
    display: inline-block;
}
.deliver-burger{
    text-align: center;
    padding-top: 15px;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;

}
.view-all{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    margin-bottom: 16px;
    > p {
        @include view-all;
        text-transform: uppercase;
       
    }
   > a{
         @include view-all;
        text-decoration-line: underline;
   }
}
.our-stores-burger{
    display: inline-block;
}
  .footer {
    padding: 4px 16px 23px 16px;
    &-menu {
      flex-direction: column;
      padding-bottom: 0;
      &-item {
        @include flex;
        justify-content: space-between;
        position: relative;
        &::after {
            position:absolute;
            bottom: 0;
            content: '';
            display: block;
            height: 1px;
            background: #F7F7F7;
            width: 100%;
          }
          
        img {
          display: inline;
          margin-right: 16px;
        }
        &-header {
          margin-bottom: 12px;
          margin-left: 16px;
          &:nth-child(n + 1) {
            margin-top: 12px;
          }
        }
      }

      span {
        display: block;
      }
    }
    &-submenu {
      margin-left: 16px;
    }
  }
  .footer-subnav {
    display: none;
  }
  .menu-item-container.toggled {
    .arrow {
      transform: rotate(90deg);
    }

    .footer-subnav {
      display: flex;
    }
  }

  .mobile-hide {
    display: none;
  }
  .display-flex {
    display: flex;
  }
  .input-mobile-show {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .mobile-icon-group {
    display: block;
  }
  li{
    text-transform: uppercase;
    list-style-type: none;
    position: relative;
    > span{
position: absolute;
left:216px;
font-weight: normal;
font-size: 13px;
    }
    &::after {
        position:absolute;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        background: #F7F7F7;
        width: 100%;
      }
  }
  .social-media-icons{
    margin-top: 17px;
    margin-bottom: 17px;
    text-align: center;
  }
}